table{
    text-align: center;
    background-image: url('../images/table-details-base-background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
    font-size: xx-large;

    padding: 120px 120px 20px 20px;
}

h1{
    font-size: 2em;
}

.tableContents{
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-grow: inherit; */
    align-content:center ;
}
